/* Estilos personalizados de componentes de las vistas */

/* BOTONES */
.boton-submit{
    background-color: #2B3035;
    width: 100%;
    color: white;
    border-radius: 10px;
    padding: 8px;
}

.boton-submit:hover{
    background-color: rgba(43, 48, 53, 0.8);
}

.carrito{
    background-color: #2B3035;
    padding: 10px;
    border-radius: 50%;
}

.carrito:hover{
    background-color: rgba(43, 48, 53, 0.8);
}

.boton-anadir-articulo{
    margin-bottom: 10px;
    padding: 5px 20px;
    background-color: #6c7680;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.boton-anadir-articulo:hover{
    background-color: #828f9c;
}

/* SECCION LOGIN */
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login img{
    width: 300px;
}

.form-login{
    width: 37%;
    display: flex;
    flex-direction: column;
}

.form-login label{
    color: white;
    font-weight: bold;
}

.form-login input:not([type='submit']){
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
}

.links{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 300ms;
}

.links a:hover{
    color: white;
}

/* FORMULARIO DE REGISTRO Y RECUPERAR CONTRASEÑA */
.registro,
.recupera{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.registro img,
.recupera img{
    width: 200px;
}

.form-registro,
.form-recupera{
    min-width: 450px;
}

.form-registro label,
.form-recupera label{
    color: white;
    font-size: 85%;
    font-weight: bold;
}

.form-registro input:not([type='submit']),
.form-recupera input:not([type='submit']){
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
}

.form-registro input[type='submit'],
.form-recupera input[type='submit']{
    margin-top: 15px;
    width: 100%;
}

/* ESTILOS DE CONFIRMADO */
.contenedor{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 80px;
   margin-bottom: 100px;
}

.contenedor-imagen{
    width: 450px;
}

.contenedor-titulo{
    font-weight: bold;
    margin-top: 20px;
    color: white;
}

.contenedor-p{
    font-size: large;
    margin-top: 10px;
    color: white;
}

.contenedor-enlace{
    margin-top: 50px;
    color: orange;
}

/* INDEX USUARIOS */
.cabecera-usuario{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.articulos-usuarios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.tarjeta-imagen{
    display: flex;
    justify-content: center;
    height: 80%;
    border-bottom:2px solid #2B3035 ;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.tarjeta-imagen img{
    border-radius: 5px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.tarjeta-articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2B3035;
    color: white;
    border: 2px solid #2B3035;
    border-radius: 10px;
}

.tarjeta-articulo h4{
    margin-top: 5px;
    font-weight: bold;
}

.tarjeta-articulo p{
    font-size: medium;
    font-weight: bold;
}

/* ESTILOS VISTA ADMIN */
/* NAVEGACION */
.navegacion{
    background-color: #2B3035;
    border-radius: 10px;
    margin-top: 20px;
}

.navegacion-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 50px;
}

.navegacion-enlace{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: bold;
    transition: all 300ms;
}

.navegacion-enlace:hover{
    color: white;
    font-weight: normal;
}

.tarjetas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}

.tarjeta{
    width: 300px;
    min-height: 600px;
}

.tarjeta-img-top{
    width: fit-content;
}

.tarjeta-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.tarjeta-title{
    color: white;
    font-weight: bold;
}

.tarjeta-text{
    color: white;
}

.btn-area-admin{
    background-color: #2B3035;
    text-decoration: none;
    width: 100%;
    color: white;
    border-radius: 10px;
    padding: 8px;
}

.btn-area-admin:hover{
    background-color: rgba(43, 48, 53, 0.8);
}

.titulo-vista-admin{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: lightgray;
    font-weight: bold;
}


/* ESTILOS DE MENSAJES DE VALIDACION */
.exito{
    background-color: rgb(0, 167, 0);
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.error{
    background-color: rgb(246, 70, 70);
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.vacio{
    margin: 0 auto;
    width: 80%;
    background-color: darkcyan;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

/* FOOTER */
.footer{
    display: flex;
    justify-content: center;
}

.footer p{
    color: rgb(171, 171, 171);
    font-weight: bold;
}